app/config/local
app/config/testing
app/config/app.php
app/config/database.php
app/config/mail.php
app/config/testing
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
_ide_helper.php
.idea/*
app/libraries/CRoumingu.php
